<ul>
  <li> id: <%= @person.id %></li>
  <li> name: <%= @person.name %></li>
  <li> subject: <%= @person.subject %></li>
  <li> github account: <%= @person.github_account %></li>
  <li> created at: <%= @person.created_at %></li>
  <li> last updated: <%= @person.updated_at %></li>
  <li><%= link_to "Edit", people_edit_path(@person.id)%></li>
  <li><%= link_to "Delete", people_destroy_path(@person.id)%></li>
</ul>
<%= link_to "Return To Roster", people_path %>