<!DOCTYPE html>
<html>
  
  
  <head>
    <title><%= @restaurant.name %></title>
  </head>
  <body>
    <ul style="list-style: none;">
      <li><h1><%= @restaurant.name %></h1></li>
      <li>Median Rating: <%= @restaurant.median_rating %></li>
      <li>Average Menu Price: $<%= @restaurant.weighted_price %></li>
      <li><%= @restaurant.address %></li>
      <li><%= @restaurant.website %></a></li>
      
    </ul>
    <h2>Hours</h2>
    <table>
      <% @restaurant.hours.each do |day, times| %>
        <tr><td><%= day %>:</td> <td> Open <%= times["Open"] %></td><td> Closed <%= times["Closed"] %></td></tr>
      <% end %>
    </table>
    
    <!-- 
    Code block to show that I could print out all ratings, if I wanted to. I think it looks silly without corresponding reviews.

    <h2>Ratings</h2>
    <table>
    <tr>
      <% @restaurant.ratings.each do |rating| %>
        <td><%= "#{rating}" %>, </td>
      <% end %>
    </tr>
    </table> 
    -->

    </br>
    <a href="/home">Home</a> 

  </body>
</html>